.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 40px);
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.closeButton:hover {
  transform: scale(1.1);
}

.title {
  width: 100%;
  text-align: center;
}

.form {
  position: relative;
  padding: 20px;
  box-shadow: 0 0 7px;
  border-radius: 20px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column p {
  margin-left: 20px;
  margin-right: 20px;
}

.column input {
  width: 300px;
  margin: 0 20px 0 0;
}

.orderButtonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.orderButton {
  height: 40px;
  width: 150px;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s ease-out all;
}  
  
.orderButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}