.fullitemWrapper {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    justify-content: center;
    height: calc(100vh - 40px);
    align-items: center;
    margin: 0 auto;
}

.fullitem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    margin-left: 20px;
}

.img {
    height: 100px;
}

.infoprice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 35px;
}

.price {
    font-weight: bold;
    font-size: 35px;
}

.addToCart {
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    outline: none;
}

.addToCart:hover {
    transform: scale(1.1);
}

.addToCart:disabled {
    color: #ccc;
}

.addToCart:disabled:hover {
    transform: scale(1);
}