.itemsContainer {
    max-width: 1024px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.search {
    box-sizing: border-box;
    height: 25px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 7px 0;
    border: 0;
    background-image: url(https://static.thenounproject.com/png/14173-200.png);
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position-x: 10px;
    font-weight: bold; 
    outline: none;
}

@media (max-width: 499px) {
    .itemsContainer {
        width: 99%;
    }
}

.controls {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
}

.controls img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.controls img:hover {
    transform: scale(1.2);
    cursor: pointer;
}