.cartWrapper {
  transition: 0.5s ease-out all;
  position: absolute;
  bottom: 67px;
  overflow: hidden;
  right: 5px;
  z-index: 1;
}

.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 400px;
  height: 360px;
  transition: 0.2s ease-out all;
}

.cart a {
  text-decoration: none;
  color: black;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.order {
  height: 40px;
  width: 150px;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s ease-out all;
}

.order:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.arrow {
  position: relative;
  background-image: url('https://img.icons8.com/metro/48/000000/sort-down.png');
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: -15px;
  height: 25px;
}