.category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0;
    margin-left: 5px;
    margin-top: 20px;
    animation-name: anim;
    animation-duration: 1s;
    transition: 0.2s ease-out;
    background-color: white;
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
}

.category p {
    width: 100%;
    text-align: center;
    margin-top: 154px;
    font-weight: bold;
}

.category:hover {
    transform: scale(1.1);
    z-index: 100;
}

.edit {
    position: absolute;
    width: 20px;
    right: 2%;
    bottom: 3%;
}

.edit:hover {
    transform: scale(1.1);
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}