.item {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 7px 0;
    margin-bottom: 4px;
    background-color: white;
    cursor: pointer;
    animation-duration: 1s;
    animation-name: anim;
    transition: 0.2s ease-out;
    z-index: 1;
}

.edit {
    position: absolute;
    width: 25px;
    right: 2%;
    top: 3%;
}

.edit:hover {
    transform: scale(1.1);
}

.item:hover {
    z-index: 2;
    transform: scale(1.05);
}

.imgWrapper {
    margin: 0 10px;
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 20%;
    margin-bottom: 0;
}

.descriptionWrapper {
    height: 90px;
    overflow: hidden;
}

.price {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
}

.contentWrapper {
    width: 100%;
}

.img {
    height: 100px;
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

