.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 7px 0;
    margin-bottom: 4px;
    background-color: white;
    animation-duration: 1s;
    animation-name: anim;
    padding: 10px;
    position: relative;
    transition: 0.2 ease-out;
}

.closeButton {
    width: 25px;
    position: absolute;
    top: 3%;
    right: 1%;
}

.invalid {
    box-shadow: 0 0 7px 0 red;
}

.saveButton:disabled, .saveButton:disabled:hover {
    color: black;
    border: none;
    background-color: #ccc;
}

.closeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.priceSave {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uploadImg {
    width: 170px;
    height: 100px;
}

.imgWrapper {
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
}


.name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 20%;
    margin: 3px;
    border: 1px solid transparent;
    padding-left: 10px;
    width: 70%;
}

.name:focus, .name:hover {
    outline: none;
    box-shadow: 0 0 7px black;
}

.description:hover, .description:focus {
    outline: none;
    box-shadow: 0 0 7px black;
}

.description::placeholder {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.name::placeholder {
    font-weight: bold;
    color: black;
}

.descriptionWrapper {
    height: 90px;
    max-height: 90px;
    max-width: 70%;
    overflow: hidden;
}

.description {
    padding-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 3px;
    border: 1px solid transparent;
    width: 90%;
    height: 85%;
    resize: none;
}

.price {
    margin: 1px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    width: 70px;
    border: 1px solid transparent;
    padding-left: 10px;
}

.price:hover, .price:focus {
    outline: none;
    box-shadow: 0 0 7px black;
}

.price::placeholder {
    color: black;
}

.contentWrapper {
    width: 100%;
}

.img {
    height: 100;
    width: 170px;
}

.saveButton {
    outline: none;
    width: 70px;
    box-shadow: 0 0 7px 0;
    height: 30px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.saveButton:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
    cursor: pointer;
}

.dropzone {
    position: absolute;
    height: 80%;
    display: flex;
    align-items: center;
    border: 1px dashed black;
    text-align: center;
    border-radius: 20px;
    width: 170px;
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

