.header {
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.pLogo {
    font-size: 40px;
    font-weight: bold;
}

.DesktopOnly {
    width: 100%;
    height: 100%;
}

@media (max-width: 499px) {
    .pLogo {
        font-size: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}