.navigationItems {
    display: flex;
    flex-direction: row;   
    height: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 499px) {
    .navigationItems {
        flex-direction: column;
        padding-left: 0;
    }
}