.input {
    width: 80%;
    border-radius: 20px;
    height: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 7px 0;
    padding-left: 10px;
    font-weight: bold;
    border: 0;
    background-clip: padding-box;
}

.input:hover {
    outline: none
}

.input:focus {
    box-shadow: 0 0 7px 0 blue;
    outline: none;
}

.input::placeholder {
    text-align: center;
    font-weight: bold;
    color: #ccc;
}

.select {
    font-weight: bold;
    margin: 1px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.select:hover, .select:focus {
    box-shadow: 0 0 7px;
    outline: none;
    border: none;
}

.invalid {
    box-shadow: 0 0 7px 0 red;
}

.textarea {
    box-sizing: border-box;
    width: 98%;
    height: 100px;
    margin: 0 auto;
    border: none;
    margin: 10px;
    box-shadow:  0 0 7px;
    border-radius: 20px;
    resize: none;
    padding: 5px 20px;
    font-weight: bold;
}

.textarea::placeholder {
    text-align: center;
    font-weight: bold;
    color: #ccc;
}

.textarea:hover, .textarea:focus {
    outline: none;
}

