.navigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
}

.navigationItem a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.navigationItem a:hover {
    border-bottom: 3px solid #ccc;
}

.active {
    border-bottom: 3px solid #ccc;
}

@media (max-width: 499px) {
    .navigationItem a{
        color: black;
        font-size: 25px;
    }
}