.category {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0;
  margin-left: 5px;
  margin-top: 20px;
  animation-name: anim;
  animation-duration: 1s;
  transition: 0.2s ease-out;
}

.dropzone {
  display: flex;
  align-items: center;
  width: 95%;
  height: 95%;
  border-radius: 20px;
}

.closeButton {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  right: 3px;
  cursor: pointer;
  z-index: 1;
}

.input {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 7px;
  padding-left: 3px;
}

.input:focus {
  outline: none;
}

.invalid {
  box-shadow: 0 0 7px red;
}

.closeButton:hover {
  transform: scale(1.2);
}

.category input {
  position: absolute;
  top: 20px;
  width: 70%;
  height: 20px;
  z-index: 1;
}


@keyframes anim {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}