.authformwrapper {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.authform {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0;
    animation-name: op;
    animation-duration: 1s;
    transition: all 1s ease-out;
}

.authform p {
    font-size: 30px;
}

.authform button {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.authform button:hover {
    transform: scale(1.1);
    outline: none;
}

.authform button:focus {
    outline: none;
}

.topWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 499px) {
    .authformwrapper {
        width: 99%;
        margin: 0 auto;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

button:disabled {
    background-color: darkgrey
}

button:disabled:hover {
    transform: scale(1);
}

.backButton {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.backButton:hover {
    transform: scale(1.1);
}

@keyframes op {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
