.item {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  width: 95%;
}

.link {
  width: 100%;
}

.img {
  height: 100%;
}

.amountWrapper p {
  margin: 0 5px;
}

.amountWrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.amountWrapper img {
  height: 30%;
}
