.cart {
  position: fixed;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  bottom: 20px;
  right: 20px;
  transition: 0.2s ease-out all;
}

.cart:hover {
  transform: scale(1.1);
}